@font-face {
	font-family: "Ubuntu-Medium";
	src: local('/fonts/Ubuntu-Medium'), url("/fonts/Ubuntu-Medium.woff2") format('woff2');
}

@font-face {
	font-family: "Ubuntu-Regular";
	src: local('/fonts/Ubuntu-Regular'), url("/fonts/Ubuntu-Regular.woff2") format('woff2');
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #2f3241;
	z-index: -1;	
}

html, body {
	overflow: hidden;
}

.content {
	position: relative;
	z-index: 1;
	color: white;
}

h1 {
	text-align: left;
	font-size: 45px;
	font-family: ubuntu-medium;
	color: white;

}

a:link {
	color: white;
	background-color: tranparent;
	text-decoration: none;
}

a:visited {
	color: white;
	background-color: tranparent;
	text-decoration: none;
}

a:hover {
	color: #161B1F;
	background-color: tranparent;
	text-decoration: underline;
}

a:active {
	color: #161B1F;
	background-color: tranparent;
	text-decoration: none;
}

h2 {
	text-align: center;
	font-size: 45px;
	font-family: ubuntu-medium;
	color: white;
}

p {
	text-align: center;
	font-size: 30px;
}

.start_button {
	font-size: 60px;
	font-family: Ubuntu-Regular;

.button_container {
	font-size: 60px;
	font-family: Ubuntu-Regular;
}

