# Ignore node_modules
*node_modules/

# Ignore compiled code in dist/
*dist/*.js
*dist/db/*js
*dist/routes/*.js
*dist/public/js/*

# Ignore an AQA pdf
*docs/AQA-7517-NEA-GUIDE.pdf
*docs/candidate.txt
