<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Account</title>
	<link rel="stylesheet" href="/css/create.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script>
		particlesJS.load('particles-js', 'js/particles.json', function() {
		console.log('callback - particles.js config loaded');
		});
	
	</script>

	<h1><a href="/">Simple quiz site</a> | Account</h1>

	<a href="/signup">
		<button>Make a new account</button>
	</a>

	<a href="/login">
		<button>Login to an existing account</button>
	</a>

	<script src="/js/create.js"></script>


</body>
</html> 
