<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Account</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="#">

</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script>

	<h1><a href="/">Regex practice site</a> | Account</h1>

	<a href="/signup">
		<button>Signup</button>
	</a>

	<a href="/login">
		<button>Login</button>
	</a>

	<a href="/account">
		<button>Log out</button>
	</a>

	<script src="/js/create.js"></script>


</body>
</html> 
