<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Browse</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="#">

	</head>

	<body>
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Regex practice site</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav nav-underline">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/browse">Browse</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/create">Create</a>
						</li>						
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/leaderboard">leaderboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/account">Account</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


		<form id="search_form">
			<div class="mb-3">
				<p>
				<label for="Search" class="form-label">Search:</label>
				<input name="Search" id="search" class="form-control"/>
				</p>
			</div>

			<div class="button_container">
				<button type="submit" class="btn btn-light">Submit</button>
			</div>

		</form>

		<div class="content">
			<% results.forEach(i=> { %>
			<p><a href="/solve/<%= i.problem_id %>">
				<%= i.title %>
			</a>
			| <%= i.elo %>
			| <%= i.times_attempted %> attempts
			</p>
			<% }); %>
		</div>

		<script src="js/search.js"></script>
	</body>
</html> 
