<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Browse</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script>

		<h1><a href="/">Regex practice site</a> | Browse </h1>

		<form action="/search-request" method="POST">

			<p>
				<label for="Search">Search:</label>
				<input name="Search" id="search"/>
			</p>

			<div class="button_container">
				<button type="submit">Submit</button>
			</div>

		</form>

		<div class="content">
			<p><a href="/problem/0">Wildcard</a></p>
		<% results.forEach(item=> { %>
			<p><a href="/problem/<%= item.id %>">
				<%= item.name %>
			</a></p>
			<% }); %>
		</div>

</body>
</html> 
