<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Create a quiz</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="#">

</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script>

	<h1><a href="/">Regex practice site</a> | Problem creation</h1>
	<h2><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_expressions/Cheatsheet"></a> 
		JavaScript regex cheatsheet</h2>

	<form id="problem_form">
		<p>
			<label for="title">Problem title:</label>
			<input name="title" id="title"/>
		</p>
		<p>
			<label for="instr">Instruction:</label>
			<input name="instr" id="instr"/>
		</p>
		<p>
			<label for="answ">Answer:</label>
			<input name="answ" id="answ"/>
		</p>
		<p>
			<label for="exmpl">Data to use regex on:</label>
			<input name="exmpl" id="exmpl"/>
		</p>
			<div class="button_container">
			<button type="submit">submit</button>
		</div>

	</form>
	
	<div id="result"></div>
	<p id="errP" style="color: red"></p>
	
	<script src="js/create.js"></script>

</body>
</html> 
