<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Create a quiz</title>
	<link rel="stylesheet" href="/css/create.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script href="particles/particles_app.js"></script>

	<h1><a href="/">Simple quiz site</a> | Quiz creation</h1>

	<form id="quizmeta">
		<p>
			<label for="name">Quiz name:</label>
			<input type="text" id="quiz_name"/>
		</p>

		<div class="button_container">
			<button type="submit">Send your data to be sold</button>
		</div>

	</form>


	<form id="quizcontent">

		<p>
			<label for="question">Quiz name:</label>
			<input type="text" id="question"/>
		</p>

		<p>
		<label for="option-1">Option 1:</label>
			<input type="text" id="option-1"/>
		</p>

		<p>
			<label for="option-2">Option 2</label>
			<input type="text" id="option-2"/>
		</p>

		<p>
		<label for="option-1">Option 1:</label>
			<input type="text" id="option-1"/>
		</p>

		<p>
			<label for="option-2">Option 2</label>
			<input type="text" id="option-2"/>
		</p>

		<div class="button_container">
			<button type="submit">Send your data to be sold</button>
		</div>

	</form>

	<script url=""></script>

</body>
</html> 
