<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Create a quiz</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script>

	<h1><a href="/">Simple quiz site</a> | Quiz creation</h1>

	<form id="title_form">
		<p>
			<label for="title">Quiz title:</label>
			<input name="title" id="title"/>
		</p>

		<div class="button_container">
			<button type="submit">submit</button>
		</div>

	</form>
	
	<div id="result"></div>
	<p id="exists" style="color: red"></p>
	
	<script src="js/create.js"></script>

</body>
</html> 
