<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Create a quiz</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script>

	<h1>Creation complete!</h1>
	<h2><a href="/"> Click here to redirect to the home page</a></h2>
	<h2>Click here to attempt your own problem! (feature under construction)</h2>

	<script src="js/create.js"></script>

</body>
</html> 
