<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Success!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="#">

</head>

<body>
	<p>Creation complete!</p>
	<button class="btn btn-light btn-lg" type="button"><a href="/">Go home</a></button>
	<button class="btn btn-light btn-lg" type="button"><a href="/solve/<%=id%>">See your creation</a></button>

</body>
</html> 
