<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Creating a quiz</title>
	<link rel="stylesheet" href="/css/create.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script>
		particlesJS.load('particles-js', 'js/particles.json', function() {
		console.log('callback - particles.js config loaded');
		});
	
	</script>

	<h1><a href="/">Simple quiz site</a> | Quiz creation</h1>

	<form method="post">

		<p>
			<label for="title">Quiz title:</label>
			<input type="text" id="title" name="quiz_title"/>
		</p>

		<p>
			<label for="author">Your name:</label>
			<input type="text" id="author" name="quiz_author"/>
		</p>

	</form>

	<script src="/js/create.js"></script>


</body>
</html> 
