<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="UTF-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="#">

</head>

<body>
	<div id="particles-js"></div>
	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
	<script src="/particles/particles_app.js"></script>

		<div class="content">
			<h1>Regex practice site</h1>
			<p><% if(login==false){ %>
				<a href="/login"><%= login_status %>
			<% } %> </p>
			<p><% if(login==true){ %>
				<a href="/user/<%= login_status %>"><%= login_status %>
			<% } %> </p>
			<p><a href="/browse">Browse</a></h2>
			<p><a href="/create" >Create</a></h3>
			<p><a href="/account" >Login</a></h4>
		</div>

</body>
</html>
