<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script>

	<h1><a href="/">Simple quiz site</a> | Account Login</h1>

	<form id="login_form">
               <p>
                       <label for="username">Username:</label>
                       <input name="username" id="username" />
               </p>

               <p>
                       <label for="password">Password:</label>
                       <input name="password" id="password" type="password"/>
               </p>
		<div class="button_container">
			<button type="submit">Send your data to be sold</button>
		</div>

	</form>
	
	<div id="result"></div>
	<p id="exists" style="color: red"></p>
	<p id="length" style="color: red"></p>
	<p id="nums" style="color: red"></p>
	<p id="symbol" style="color: red"></p>
	
	<script src="js/login.js"></script>

</body>
</html> 
