<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="/css/create.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script>
		particlesJS.load('particles-js', 'js/particles.json', function() {
		console.log('callback - particles.js config loaded');
		});
	
	</script>

	<h1><a href="/">Simple quiz site</a> | Account Login</h1>

	<form method="post">

		<p>
			<label for="username">Username:</label>
			<input type="text" id="Username" name="login_username"/>
		</p>

		<p>
			<label for="password">Password:</label>
			<input type="text" id="Password" name="login_username"/>
		</p>

	</form>

</body>
</html> 
