<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Playing a quiz</title>
<link rel="stylesheet" href="/css/play.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script> 

	<h1 id="game_title"></h1>
	<h2 id="game_creator"></h2>
	<button id="start_button" onclick="start_quiz()"></button>

	<div id="button_container" class="button_container"></div>
	<div id="end_screen_container"></div>

	<script src="js/play.js"></script>
</body>

</html> 
