<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Solving...</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="#">
	</head>

	<body>

		<div id="particles-js"></div>

		<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

		<script src="/particles/particles_app.js"></script> 

		<p><a href="/">click here to go back</a></p>

		<h1 id="title"><%= response.title %></h1>
		<p id="creator"> Created by: <%= response.creator %></p>
		<p id="instruction"> Instruction: <%= response.instruction %></p>

		<form id="solution_form">
			<p>
			<label for="solution">your answer goes here</label>
			<input name="solution" id="solution"/>
			</p>

			<div class="button_container">
				<button type="submit">Lets test that out!</button>
			</div>
		</form>


		<div id="button_container" class="button_container"></div>
		<div id="end_screen_container"></div>

		<p id="right_or_wrong"></p>
		<p id="example_data"></p>
		<p id="db_solution"></p>
		<p id="user_attempt"></p>

		<script src="../js/solve.js"></script>
	</body>

</html> 
