<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Success!</title>
	<link rel="stylesheet" href="/css/create.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script>
		particlesJS.load('particles-js', 'js/particles.json', function() {
		console.log('callback - particles.js config loaded');
		});
	
	</script>

	<h1>Signup is successful!</h1>
	<h2><a href="/">Click here to go to the main page</h2>

</body>
</html>
