<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Signup</title>
	<link rel="stylesheet" href="/css/create.css">
</head>

<body>

	<div id="particles-js"></div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

	<script src="/particles/particles_app.js"></script>

	<h1><a href="/">Simple quiz site</a> | Account signup</h1>

	<form action="http://localhost:8000" method="POST">

		<p>
			<label for="username">Username:</label>
			<input type="text" id="Username" name="signup_username"/>
		</p>

		<p>
			<label for="password">Password:</label>
			<input type="text" id="Password" name="signup_username"/>
		</p>
		
		<div class="button_container">
			<button type="submit">Send your data to be sold</button>
		</div>

	</form>

</body>
</html> 
