@font-face {
	font-family: "Ubuntu-Medium";
	src: local('/fonts/Ubuntu-Medium'), url("/fonts/Ubuntu-Medium.woff2") format('woff2');
}

@font-face {
	font-family: "Ubuntu-Regular";
	src: local('/fonts/Ubuntu-Regular'), url("/fonts/Ubuntu-Regular.woff2") format('woff2');
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fbf1c7;
	z-index: -1;	
}

html, body {
	overflow: hidden;
}

h1 {
	text-align: left;
	font-size: 45px;
	font-family: ubuntu-medium;
	color: #3c3836;

}

h2 {
	text-align: left;
	font-size: 45px;
	font-family: ubuntu-medium;
	color: #3c3836;
}

h3 {
	text-align: center;
	font-size: 45px;
	font-family: ubuntu-medium;
	color: #3c3836;
}

h4 {
	text-align: center;
	font-size: 45px;
	font-family: ubuntu-medium;
	color: #3c3836;
}

p {
	text-align: left;
	font-size: 35px;
	font-family: ubuntu-medium;
	color: #3c3836;
}

.exists {
	text-align: left;
	font-size: 25px;
	font-family: ubuntu-medium;
	color: #cc241d;
}

.length {
	text-align: left;
	font-size: 25px;
	font-family: ubuntu-medium;
	color: #cc241d;
}
.nums {
	text-align: left;
	font-size: 25px;
	font-family: ubuntu-medium;
	color: #cc241d;
}
.symbol {
	text-align: left;
	font-size: 25px;
	font-family: ubuntu-medium;
	color: #cc241d;
}




a:link {
	color: #3c3836;
	background-color: tranparent;
	text-decoration: none;
}

a:visited {
	color: #3c3836;
	background-color: tranparent;
	text-decoration: none;
}

a:hover {
	color: #7c6f64;
	background-color: tranparent;
	text-decoration: underline;
}

a:active {
	color: #7c6f64;
	background-color: tranparent;
	text-decoration: none;
}

.start_button {
	color: #ebdbb2
	font-size: 60px;
	font-family: Ubuntu-Regular;
}

.button_container {
	color: #ebdbb2
	font-size: 60px;
	font-family: Ubuntu-Regular;
}



